name: CI
on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        scala: [2.13.8, 3.1.0]
    steps:
      - uses: actions/checkout@v2.4.0
      - uses: olafurpg/setup-scala@v13
        with:
          java-version: adopt@1.11
      - uses: coursier/cache-action@v6
      - name: Run Tests
        run: sbt ++${{ matrix.scala }} scalafmtCheckAll scalafmtSbtCheck fullOptJS
